@import '~bootstrap/scss/bootstrap';
 // ------------Forms-----------
.single-form {
  border: 2px solid black;
  border-radius: 25px;
  margin: 30px;
  padding: 20px;
  text-align: center;
}

#sign-in-form {
  padding: 20px 20px 80px 20px;
}

.form {
  justify-content: center;
}

.modal-content {
  border-radius: 25px;
  width: 400px;
}
